body{
    text-align: center;
    background-color: bisque;
}

.container{
    position: absolute;
    width: 320px;
    height: 360px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 25px;
}

.input{
    border-radius: 15px;
    border-color: rgb(0, 157, 255);

}

button{
    cursor: pointer;
    background-color: bisque;
}
button:hover{
    background-color: rgb(142, 109, 24);
}